<!--  -->
<div class="full-page">
  
  <div class="row align-items-center">
    <div class="col-2"></div>
    <div class="col-3">
      <img [@image-field-1]="loadState" src="/assets/images/epin/main.JPG" alt="">
    </div>
    <div [@text-field-1]="loadState" class="col-5">
      <p class="title left">
        EPIN Main Page 
      </p>
      <p class="description left">
        현장실습으로 참여한 회사에서 홈페이지 제작을 요청했습니다. <br> 
        반응형 페이지를 위한 최소한의 JQuery이용외에는 별도의 프레임워크를 사용하지 않고 <br>
        순수 HTML로 개발을 지향했습니다.
        <br>
        <br>
        HTML │ CSS(bootstrap) │ JS(jquery)
      </p>
      
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row align-items-center">
      <div class="col-3"></div>
      
      <div [@text-field-2]="loadState" class="col-5">
        <p class="title right">
          EPIN English Page
        </p>
        <p class="description right">          
          심플한 디자인과 EPIN의 파란색 컨셉의 디자인을 적용한 싱글페이지 웹사이트입니다.
          <br> 많은 내용을 한눈에 들어오게 하기 위해서
          Grid 구조와 내용배치에 심의를 기울였습니다.
          <br><br>
          Angular-CLI │ Google Maps API 
        </p>
      </div>
      <div [@image-field-2]="loadState" class="col-3">
          <img src="/assets/images/epin/english.JPG" alt="">
        </div>
      <div class="col-1"></div>
    </div>
   

    <div [@link-1]="loadState" class="row link">      
      <div class="col-12">
        <a href="http://epin.co.kr">페이지로 이동</a>
        <span class="url-bar">│</span>
        <a href="https://epin-4080a.firebaseapp.com/hologram">영어 페이지로 이동</a>
      </div>
    </div>
  

</div>
