.full-page{
    background-color: rgb(226, 102, 102);
    height: 100%;
    padding-top: 100px;
}
img{
    width: 100%;
}
.title{
    font-size: 350%;
    color: white;
}
.description{
    font-size: 110%;
    color: white;
}
div.link {
    margin-top: 50px;
    text-align: center;
}
a{
    color:white;
}