  <!--  -->
  <div class="full-page">

    <div class="row align-items-center">
      <div class="col-1"></div>
      <div [@image-field]="loadState" class="col-4">
        <img src="/assets/images/starter/main.JPG" alt="">
      </div>
      <div [@image-field]="loadState"  class="col-5">
        <p class="title left">
          Korea Kickstater 
        </p>
        
        <p class="description left">
          MeteorJS │ React │ MongoDB
        </p>
      </div>
      <div class="col-1"></div>
    </div>
  
    <div [@link-1]="loadState" class="row link">
      <div class="col-12">
        <a href="http://koreastarter.herokuapp.com/home">페이지로 이동</a>
      </div>
    </div>
  </div>