.card{
    margin-top: 0px;
}
.title{
    font-size: 120%;
}
span.sub{
    font-size: 60%;
    color:lightseagreen;
    font-style: italic;
}
.detail{
    margin-top: 50px;
}
.paper{
    float:left;
    height: 600px;
}
h3{
    color: black;
}
a{
    color:gray;
}
