<div class="row justify-content-center white">
  <div class="col-3">
    <img src="../../../assets/images/face.jpg" alt="">
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <span class="subject">이름</span>
      </div>
      <div class="col-4 col-sm-5 text-right">
        <span class="content">임종식</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <span class="subject">출생지</span>
      </div>
      <div class="col-4 col-sm-5 text-right">
        <span class="content">경상남도 밀양시</span>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <span class="subject">생년월일</span>
      </div>
      <div class="col-4 col-sm-5 text-right">
        <span class="content">1993년도 12월 18일생</span>
      </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
          <span class="subject">Email</span>
        </div>
        <div class="col-4 col-sm-5 text-right">
          <span class="content">whdtlr1218@naver.com</span>
        </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <span class="subject">학력</span>
      </div>
      <div class="col-4 col-sm-5 text-right">
        <span class="content">밀양고등학교 졸업</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-2"></div>
      <div class="col-1">
        <span class="subject"></span>
      </div>
      <div class="col-5 col-sm-7 text-right">
        <span class="content">동서대학교 소프트웨어공학과 졸업</span>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-2 col-sm-1"></div>
      <div class="sentence col-10 col-sm-9">
        <span class="pride">- 책임감 강한 인재가 되기위해 스스로 끊임없이 피드백하며 성장하겠습니다.</span>
      </div>
    </div>
  </div>
</div>




<!-- 


<h1>
    인 적 사 항
    <hr>
  </h1>
  

<carousel >
    <slide>
      
      <div class="">
          <div class="row justify-content-center white">
              <div class="col-3">
                <img src="../../../assets/images/face.jpg" alt="" >
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-3">
                    <span class="subject">이름</span>
                  </div>
                  <div class="col-4 col-sm-5 text-right">
                    <span class="content">임종식</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-3">
                    <span class="subject">출생지</span>
                  </div>
                  <div class="col-4 col-sm-5 text-right">
                    <span class="content">경상남도 밀양시</span>
                  </div>
                </div>
            
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-3">
                    <span class="subject">생년월일</span>
                  </div>
                  <div class="col-4 col-sm-5 text-right">
                    <span class="content">1993년도 12월 18일생</span>
                  </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3">
                      <span class="subject">Email</span>
                    </div>
                    <div class="col-4 col-sm-5 text-right">
                      <span class="content">whdtlr1218@naver.com</span>
                    </div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-3">
                    <span class="subject">학력</span>
                  </div>
                  <div class="col-4 col-sm-5 text-right">
                    <span class="content">밀양고등학교 졸업</span>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-1">
                    <span class="subject"></span>
                  </div>
                  <div class="col-5 col-sm-7 text-right">
                    <span class="content">동서대학교 소프트웨어공학과 졸업</span>
                  </div>
                </div>
            
                <br>
                <div class="row">
                  <div class="col-2 col-sm-1"></div>
                  <div class="sentence col-10 col-sm-9">
                    <span class="pride">- 책임감 강한 인재가 되기위해 스스로 끊임없이 피드백하며 성장하겠습니다.</span>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </slide>
    <slide>
      
      <div class="">
        <div class="reward">
            <p class="title">수상내역
              <span class="sub">*마우스를 올리면 증빙사진이 보입니다. </span>
            </p>

            <ng-template #han>              
                <img class="paper" src="/assets/images/reward/20150718.jpg" alt="">
            </ng-template>
            <p [ngbPopover]="han" triggers="mouseenter:mouseleave">
                제 8회 소외된 90%와 함께하는 창의융합설계 아카데미 (한동대학교, 2015-07-18 )
            </p>

            <ng-template #cock>              
                <img class="paper" src="/assets/images/reward/20160602.jpg" alt="">
            </ng-template>
            <p [ngbPopover]="cock" triggers="mouseenter:mouseleave">
                공유가치창출형 창업 아이디어 칵테일 바 (부산광역시, 2016-06-02)
            </p>

            <ng-template #startup>              
                <img class="paper" src="/assets/images/reward/20161208.jpg" alt="">
            </ng-template>
            <p [ngbPopover]="startup" triggers="mouseenter:mouseleave">
                부산 창업선도대학 페스티벌 최우수상 (부산광역시 공학혁신센터 대학연합, 2016-12-08)
            </p>


        </div>
      </div>
    </slide>
    <slide>
      
      <div class="">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
 -->
