  <!--  -->
<div class="full-page">

  <div class="row align-items-center">
    <div class="col-1"></div>
    <div [@image-field]="loadState" class="col-4">
      <img src="/assets/images/grad/home.JPG" alt="">
    </div>
    <div [@text-field]="loadState" class="col-5">
      <p class="title left">
        CVS Disposal Product Notification Service
      </p>
      <p class="description left">
        
        <br><br>
        Angular-CLI | Google Maps API | Firebase server
      </p>
    </div>
    <div class="col-1"></div>
  </div>




  <div [@link-1]="loadState" class="row link">
    <div class="col-12">
      <a href="https://graduateproject-61cd9.firebaseapp.com/login">페이지로 이동</a>
    </div>
  </div>
</div>