.fullpage{    
    height: 100%;    
    background-color: #222;
    color: white;
    
}
p{
    text-align: center;
}

.title-kor{
    font-size: 300%;
}
.title-kor-sub{
    font-size: 100%;
}
.title-eng{
    font-size: 70%;
}
.title-eng-sub{
    font-size: 70%;
}