.slide1{
    background-color: beige;
    color: brown;
}
.slide2{
    background: black;
    color: white;
}
.slide3{
    background-color: green;
    color: beige;
}
.fp-tableCell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    
}
.section{
    text-align: center;
}
.title{
    font-size: 500%;    
}

