
<div class="sidebar">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-link" (click)="menuToggle()">
        <img src="/assets/images/menu.png" alt="">
      </button>
      
    </div>
    <div class="col-md-9 ul-side">
      <ul>       
        <li><a routerLink="/main" (click)="menuToggle()">메인페이지</a></li>
        <li><a routerLink="/history" (click)="menuToggle()">약력</a></li>
        <li><a routerLink="/introduction" (click)="menuToggle()">자기 소개서</a></li>
        <li><a routerLink="/award" (click)="menuToggle()">수상 내역</a></li>                
      </ul>
    </div>
  </div>    
</div>
 